# User Info
FIRST_NAME=""
LAST_NAME=""
SUMMARY=""
LOCATION=""
MOBILE=""
EMAIL=""
GITHUB=""
LINKEDIN=""

# Education Info
SCHOOL=""
DEGREE=""
START_END=""
LOCATION=""
COURSEWORK=""
EDUCATION_SUMMARY=""
